<div class="col-lg-8 col-sm-12" ng-init="ctrl.initController()">
    <h1>Edit Details</h1>

    <form name="updateForm" ng-submit="updateForm.$valid && ctrl.updateProd()" novalidate>

        <!--upc12-->
        <div class="form-group">
            <label for="upc12">upc12 </label>
            <input value="{{ctrl.updateProduct.upc12}}" id="upc12" name="upc12" type="number" class="form-control" ng-model="ctrl.updateProduct.upc12"
            />
            <div class="validation" data-ng-show="updateForm.upc12.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.upc12.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> upc12 is mandatory.
                </div>
                <div data-ng-show="updateForm.upc12.$error.upc12">
                    <span class="glyphicon glyphicon-alert"></span> upc12 is invalid.
                </div>
            </div>
        </div>

        <!--Name-->
        <div class="form-group">
            <label for="name">name </label>
            <input id="name" name="name" type="text" class="form-control" required ng-model="ctrl.updateProduct.name" />
            <div class="validation" data-ng-show="updateForm.name.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> name is mandatory.
                </div>
                <div data-ng-show="updateForm.name.$error.name">
                    <span class="glyphicon glyphicon-alert"></span> name is invalid.
                </div>
            </div>
        </div>

        <!--Brand-->
        <div class="form-group">
            <label for="brand">brand </label>
            <input id="brand" name="brand" type="text" class="form-control" required ng-model="ctrl.updateProduct.brand" />
            <div class="validation" data-ng-show="updateForm.brand.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.brand.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> brand is mandatory.
                </div>
                <div data-ng-show="updateForm.brand.$error.brand">
                    <span class="glyphicon glyphicon-alert"></span> brand is invalid.
                </div>
            </div>
        </div>

        <!--Submit-->
        <div class="form-group">
            <hr/>
            <input id="submit" name="submit" type="submit" class="btn btn-success" />
            <a href="#!/glossary" ng-click="ctrl.updateProduct = {}">
                <btn class="btn btn-warning">Cancel</btn>
            </a>
        </div>

        <div ng-show="ctrl.showty">
            <h2>Submitted!</h2>
        </div>
    </form>
</div>